.container {

display: flex;
flex-direction: column;

}
.buttonPdf{

 background-color: var(--green-500);
 color: var(--with-500);
 font-weight: bolder;

 transition: filter .2s;

 &:hover{
  filter:brightness(.92);
 }
}
.modal{
  background-color: var(--background);

  padding: 5px;
  margin-top: 15px;
  height: 500px;
  width: 400px;

  display: flex;
  flex-direction: column;
  align-items: center;

  button{
    background-color: var(--background);
    color: brown;
    align-self: flex-end;
    
    border: none;
    
    font-size: 2rem;
  }
}
.buttonModal{

  background-color: var(--gray-500);
  color: var(--with-500);
  font-weight: bolder;

  padding: 5px;

    border-radius: .5rem;
    border: none;
    box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.315);
 
  transition: filter .2s;
 
  &:hover{
   filter:brightness(.92);
  }
}

@media (max-width: 420px){

  .modal{
    width: 320px;
  }
}
